<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Game</title>
</head>
<body>
<h1>Welcome to the Harry Potter Quiz</h1>
<form method='post' action=''>
{% csrf_token %}
    {% for quest in questions%}
    <div class="form-group">
      <label for="question">{{quest.question}}</label>
    </div>
    <div class="form-check">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{quest.question}}" id="gridRadios1" value="{{quest.option1}}">
            <label class="form-check-label" for="gridRadios1">
                {{quest.option1}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{quest.question}}" id="gridRadios2" value="{{quest.option2}}">
            <label class="form-check-label" for="gridRadios2">
                {{quest.option2}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{quest.question}}" id="gridRadios1" value="{{quest.option3}}">
            <label class="form-check-label" for="gridRadios1">
                {{quest.option3}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{quest.question}}" id="gridRadios2" value="{{quest.option4}}">
            <label class="form-check-label" for="gridRadios2">
                {{quest.option4}}
            </label>
        </div>
        <br>
    </div>
    {% endfor %}
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    {% if score %}
        <div id="score-display">
            <h2>Score: {{ score }}</h2>
        </div>
    {% endif %}
</form>

</body>
</html>